

<%- include("partials/header.ejs") -%>

<script>

  document.getElementById("aboutnav").classList.add("active2");

</script>

<div class="container-fluid" style="padding-bottom: 32%; margin-left: 2.3%;">

<h1><%=whatpage %></h1>

<p><%=contentr %> </p>

</div>


<%- include("partials/footer.ejs") -%>