

<%- include("partials/header.ejs") -%>



<style>
   h1{

    margin-top: 3%;
    margin-left: 45%;
     
    font-family:Arial, Helvetica, sans-serif;



 

 
 font-style: italic;
 text-decoration: underline;
 text-decoration-thickness: from-font;
font-family:Arial, Helvetica, sans-serif;
 

 
     

   }

   p{
     
      margin-top: 3%;
      margin-left: 5%;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
    

   }




</style>

<script>

    document.getElementById("homenav").classList.add("active2");
    
  
  </script>




<div class="container-fluid" style="padding-bottom: 32%; margin-left: 2.3%; width: 90%;">

  
     
     
    
     
         
        <h1><%=posttitle %> </h1>
        <p> <%=postcont  %>  </p>
      
    
     
    
    
    
    </div>
    
    
    <%- include("partials/footer.ejs") -%>